<!DOCTYPE html>
<html>
<head>
  <title>Timeliner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, height=device-height">
</head>
<body>

<nav>
  <div class="nav-wrapper navbar-fixed">
    <a href="<%= root_path %>" class="brand-logo center">Timeliner</a>
    <ul id="" class="left">
      <li><a href="<%= root_path %>"><i class="mdi-action-autorenew"></i></a></li>
    </ul>
    <ul id="" class="right">
      <li><a href="<%= setting_path %>"><i class="mdi-action-settings"></i></a></li>
    </ul>
  </div>
</nav>

<p class="notice"><%= notice %></p>

<div id="main_container">
  <%= yield %>
</div>

</body>
</html>